[submodule "src/lib/websocketpp"]
	path = src/lib/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "src/lib/asio"]
	path = src/lib/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "src/lib/base"]
	path = src/lib/base
	url = https://github.com/243286065/cpplib_base.git
